<div class="modal-header">
  <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
  <form name="passwordForm" novalidate>
    <!-- USER PASSWORD -->
    <label for="password">Current password</label>
    <input type="password" ng-model="ctrl.user.oldPassword" id="oldPassword" name="oldPassword" required/>
    <div ng-messages="passwordForm.oldPassword.$error" ng-if="passwordForm.oldPassword.$touched">
      <p ng-message="required">Current password is required.</p>
    </div>

    <label for="password">New password</label>
    <input type="password" ng-model="ctrl.user.password" id="password" name="password" required/>
    <div ng-messages="passwordForm.password.$error" ng-if="passwordForm.password.$touched">
      <p ng-message="required">New password is required.</p>
    </div>

    <label for="password2">Repeat new password</label>
    <input type="password" ng-model="ctrl.password2" id="password2" name="password2" required/>
    <span ng-show="passwordForm.password.$touched && passwordForm.password2.$touched && ctrl.user.password !== ctrl.password2">
      Passwords don't match
    </span>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="passwordForm.$invalid || ctrl.user.password !== ctrl.password2 || ctrl.disabled" type="button" ng-click="ctrl.changePassword()">OK</button>
  <button class="btn btn-warning" ng-disabled="ctrl.disabled" type="button" ng-click="ctrl.closeModal()">Cancel</button>
</div>
